/* .App {
  margin:10%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: bisque;
} */

.FlashCard {
  margin: 2rem;
  padding: 2rem;
  width: 40rem;
  min-height: 10rem;
  border-radius: 1rem;
  background-color: azure;
}

.CardContainer {
  display: flex;
  background-color: antiquewhite;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.AddCard {
  padding: 2rem;
  margin: 1rem;
  background-color: white;
  border-radius: 1rem;  
}
